header {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100%;
    padding: 20px 60px 30px 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-bottom: 2px solid #ccc;
}
header img {
    flex-grow: 1;
    max-width: 200px;
}
nav {
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}
nav a {
    font-weight: 700;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin: 30px;
}

nav a:hover {
    text-decoration: underline;
}

.orderBtn {
    flex-grow: 0;
    font-size: 18px;
    color: white;
    border-radius: 50px;
    padding: 10px 60px;
    background-color: red;
}

.orderBtn:hover {
    background-color: rgba(255, 0, 0, 0.836);
    cursor: pointer;
}

body h2 {
    padding: 30px 0 30px 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}

.header-links {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-links a {
    font-weight: 700;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin: 20px;
}

.header-links a:hover {
    text-decoration: underline;
}

.menuCategory {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2%;
    height: auto;
}

.menuCategory button {
    flex-basis: calc(25% - 2%); 
    max-width: calc(25% - 6%);
    box-shadow: rgba(140, 75, 101, 0.24) 1px 1px 10px 4px ;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    border: none;
}

.menuCategory button:hover {
    cursor: pointer;
}

.menuCategory button img {
    max-width: 100%;
    max-height: 200px;
}

.menuCategory button h4 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.cartBtn {
    margin: 0 20px 0 20px;
    flex-grow: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  footer {
    max-width: 100%;
    background-color: #202124;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: #ccc;
    justify-content: center;
    align-items: center;
  }